

// Variable Starts for Landing Page

$primary-color : #5C017D;

$secondary-color : #ED6726;

$tertiary-color : #372F5C;

$quaternary-color: 	#F7F7F7;

$footer-bg-color : #1b1c1c;

$footer-link-color : #fff;

$footer-link-hover-color : #b5b4b4;

$bluishHeading: #031b4e;

$whiteHeading : #fff;

$whiteSmallText : #f7f7f7;

$blueSmallText : #372F5C;

$blueSmallLabel : #372F5C; 

$productHeading : #031b4e;

$login-page-links-color : #005b91;

//  Variable Ends  for Landing Page